/* You can add global styles to this file, and also import other style files */
@import './app/constants/variables.scss';
@import './app/constants/mixins.scss';

@font-face {
    font-family: 'Hanken Grotesk, sans-serif';
    src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
  }

body{
    font-family: $font-family;
    margin:0;
}